.exercise5 h1{
	text-align: center;
}

body{
	background-color: #DFF3E3;
}


table{
	background-color: #CE7DA5;
	border: 2px solid rgb(46,51,3);
	margin: auto;
	
}

.input_text{
	border-width: 2px;
	border-style: solid rgb(20,94,63);
	color: #053C5E;
	letter-spacing: 3px;
	font-family: Verdana;
	width: 280px; 
	height:100px;
}

.boton{
	background-color: #BEE5BF;
}