main h1{
	text-align: center;
}

.tab4 table{
	margin:auto;
}

body{
	background-color: #F4B886;
}


table{
	background-color: #CBE896;
	border: 2px solid rgb(46,51,3);
	
}

.input_text{
	border-width: 2px;
	border-style: solid rgb(20,94,63);
	color: #053C5E;
	letter-spacing: 3px;
	font-family: Verdana;
	width: 280px; 
	height:100px;
}

.boton{
	background-color: #AAC0AA;
	font-size: 14px;
}